{
  "singleQuote": false,
  "jsxSingleQuote": false,
  "semi": true,
  "endOfLine": "lf",
  "tabWidth": 2,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "importOrder": ["^#imports", "<THIRD_PARTY_MODULES>", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
