@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --container-8xl: 90rem;
}

:root {
  --ui-container: var(--container-8xl);

  --ui-text-dimmed: var(--color-neutral-400);
  --ui-text-muted: var(--color-neutral-500);
  --ui-text-toned: var(--color-neutral-600);
  --ui-text: var(--color-neutral-700);
  --ui-text-highlighted: var(--color-neutral-900);
  --ui-text-inverted: var(--color-white);

  --ui-bg: var(--color-white);
  --ui-bg-muted: var(--color-neutral-50);
  --ui-bg-elevated: var(--color-neutral-100);
  --ui-bg-accented: var(--color-neutral-200);
  --ui-bg-inverted: var(--color-neutral-900);

  --ui-border: var(--color-neutral-200);
  --ui-border-muted: var(--color-neutral-200);
  --ui-border-accented: var(--color-neutral-300);
  --ui-border-inverted: var(--color-neutral-900);
}
